<ul class="ingredients-list">
  {{#each ingredients as |ingredient|}}
    {{#link-to "ingredients.detail" ingredient tagName="li" class="ingredients-item"}}
      {{ingredients-item ingredient=ingredient tagName="a" class="ingredient-link"}}
    {{/link-to}}
  {{/each}}

  {{#link-to "ingredients.new" tagName="li" class="ingredients-item"}}
    <a href={{view.href}} class="ingredient-link">
      <p>{{inline-svg "/assets/icons/add.svg"}}</p>
      <h5 class="light-blue">Add a new ingredient</h5>
    </a>
  {{/link-to}}
</ul>
