<ul class="ingredients-list">
  {{#each ingredients as |ingredient|}}
    {{ingredients-item ingredient=ingredient tagName="li" class="ingredients-item" }}
  {{/each}}
  <li class="ingredients-item">
    <p>{{inline-svg "/assets/icons/add.svg"}}</p>
    <p>add new ingredient</p>
  </li>
</ul>
