* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 16px;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body > .ember-view {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header {
  text-align: center;
}

.ingredients-view {
  display: flex;
  flex: 1;
  height: 100%;
}

/* ingredients-sidebar */
.ingredients-sidebar {
  width: 15rem;
}

.ingredients-item {
  padding: .5rem 1rem;
  border: 1px solid darkblue;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.ingredients-item:last-of-type {
  border-bottom-width: 1px;
}
/* end ingredients-sidebar */

/* ingredients-detail-view */
.ingredients-detail-view {
  flex: 1;
  padding: .5rem 1rem;
}
/* end ingredients-detail-view */
