:root {
  --blue: #142B6F;
  --input-background: whitesmoke;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 16px;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body > .ember-view {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input,
textarea,
select {
  background: var(--input-background);
  border: 1px solid var(--blue);
  border-radius: 5px;
  border-style: outset;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  height: 2.5rem;
  margin: 0;
  margin-bottom: .25rem;
  padding: .25rem;
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.header {
  text-align: center;
}

.ingredients-view {
  display: flex;
  flex: 1;
  max-height: 100%;
  overflow: hidden;
}

/* ingredients-sidebar */
.ingredients-sidebar {
  width: 15rem;
  overflow: auto;
  padding-bottom: 1px;
}

.ingredients-item {
  border: 1px solid var(--blue);
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.ingredients-item:last-of-type {
  border-bottom-width: 1px;
}
.ingredients-item.active {
  background-color: var(--blue);
  color: white;
}
.ingredients-item .ingredient-link {
  align-items: center;
  display:flex;
  flex: 1;
  height: 100%;
  justify-content: space-around;
  padding: .5rem 1rem;
  width: 100%;

}
.ingredient-detail {
  flex:1
}
/* .ingredients-detail-fetch {} */
/* end ingredients-sidebar */

/* ingredients-detail-view */
.ingredients-detail-view {
  flex: 1;
  padding: .5rem 1rem;
}
/* end ingredients-detail-view */
