:root {
  --blue: #142B6F;
  --input-background: whitesmoke;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 16px;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body > .ember-view {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  height: 3rem;
  margin: 0;
  padding: .25rem 2.5rem;
  filter:  brightness(85%);
  transition: .5s ease-out;
}

button:hover {
  cursor: pointer;
  filter:  brightness(100%)
}

input,
textarea,
select {
  background-color: var(--input-background);
  border: 1px solid var(--blue);
  border-radius: 5px;
  border-style: outset;
  font-family: 'Courier New', Courier, monospace;
  font-size: .9rem;
  height: 3rem;
  margin: 0;
  padding: .25rem .5rem;
  width: 100%;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* helpers */
.uppercased {
  text-transform: uppercase;
}
.serif {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.sans-serif {
  font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
}
.thin {
  font-weight: 300;
}
/* end helpers */

.header {
  text-align: center;
}

.ingredients-view {
  display: flex;
  flex: 1;
  max-height: 100%;
  overflow: hidden;
}

/* ingredients-sidebar */
.ingredients-sidebar {
  min-width: 15rem;
  overflow: auto;
}

.ingredients-filter {
  display:flex;
  flex: 1;
  flex-direction: column;
  padding: .5rem 1rem;
}

.ingredients-filter .input-value {
  margin-bottom: 1.25rem;
}

.ingredients-filter,
.ingredients-item {
  border: 1px solid var(--blue);
  border-bottom-width: 0px;
}
.ingredients-item:last-of-type {
  border-bottom-width: 1px;
}
.ingredients-item.active {
  background-color: var(--blue);
  color: white;
}
.ingredients-item .ingredient-link {
  align-items: center;
  display:flex;
  flex: 1;
  height: 100%;
  justify-content: space-around;
  padding: .5rem 1rem;
  width: 100%;

}
.ingredient-detail {
  flex:1
}
/* .ingredients-detail-fetch {} */
/* end ingredients-sidebar */

/* ingredients-detail-view */
.ingredients-detail-view {
  flex: 1;
  padding: .5rem 1rem;
}

.ingredients-detail-view .info-main {
  display: flex;
  flex: 1;
}

.ingredients-detail-view .ingredient-header {
  width: 10rem;
}

.info-benefits-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info-benefits-list-item {
  text-align: center;
}
/* end ingredients-detail-view */

/* new-ingredient-form */
.new-ingredient-form {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.new-ingredient-form .input-group {
  display: flex;
  height: 4rem;
  align-items: center;
}
.input-group .input-label {
  flex: 1;
  text-align: left;
}
.input-group .input-value {
  flex: 2;
}

.new-ingredient-form .form-submit {
  display: flex;
  flex: 1;
  height: 3rem;
  justify-content: flex-end;
}
/* endnew-ingredient-form */

/*

// bulma variables
// $gap: 64px !default
// // 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
// $tablet: 769px !default
// // 960px container + 4rem
// $desktop: 960px + (2 * $gap) !default
// // 1152px container + 4rem
// $widescreen: 1152px + (2 * $gap) !default
// $widescreen-enabled: true !default
// // 1344px container + 4rem
// $fullhd: 1344px + (2 * $gap) !default
// $fullhd-enabled: true !default
// end bulma variables

*/

@media (min-width: 1152px) {
  body > .ember-view {
    max-width: 1152px;
    margin: 0 auto;
  }
}
