<header class="header">
  <h1><i class="serif thin">Essential</i> Nutrients</h1>
</header>

<main class="ingredients-view">
  <section class="ingredients-sidebar">
    {{#ingredients-filter query=(action 'setQuery') filter=(action 'filterBy') as |filteredResults|}}
      {{ingredients-list ingredients=filteredResults }}
    {{/ingredients-filter}}
  </section>
  <section class="ingredients-detail-view">
    {{outlet}}
  </section>
</main>
