<header class="header">
  <h1>Essential Nutrients</h1>
</header>

<main class="ingredients-view">
  <section class="ingredients-sidebar">
    <p>Nutrients list</p>
    <p>add new ingredient</p>
  </section>
  <section class="ingredient-detail-view">
    <p>Single Ingredient Info</p>
  </section>
</main>
