<header class="header">
  <h1>Essential Nutrients</h1>
</header>

<main class="ingredients-view">
  <section class="ingredients-sidebar">
    {{#ingredients-filter filter=(action 'filterBy') as |filteredResults|}}
      {{ingredients-list ingredients=filteredResults }}
    {{/ingredients-filter}}
  </section>
  <section class="ingredients-detail-view">
    <p>Single Ingredient Info</p>
  </section>
</main>
